*{
	margin	:	0;
	padding	:	0;
}

.content{
	background: #eaeaed;
	margin-top: 105px;
	width: 100%;
	min-height:	535px;
}

.header {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 9999;
  background: #55d6aa;
	margin-bottom: 50px;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

h1, h4, h5{
	margin: 20px
}

.head {
	margin: 25px;
  float: left;
}

nav {
	margin: 25px;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
	position: relative;
  display: inline-block;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.containerLT6{
	margin-left: 20px;
  height:900px;
  width: 780px;
  border: 1px solid black;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd;}
